@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
=============== 
  custom properties
===============
*/
:root {
  --main-color: #4682b4;
  --bg-color: #F3F5FC;
  --warning-color: #495057;

  --text-btnEncrypt-color: #fff;
  --text-btnDecrypt-color: #4682b4;

  --btn-borderColor: #4682b4;
}

/*
=============== 
  CSS RESET
===============
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: var(--bg-color);
}

button,
textarea {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

  *,
  :before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/*
=============== 
 Main
===============
*/
.container {
  width: min(92%, 144rem);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: min(89.5%, 144rem);
    
  }
}

/*
=============== 
 Section crypto-tools 
===============
*/
.crypto-tools {
  margin-bottom: 64px;
}

.logo {
  padding: 2.4rem 0 2.4rem 0;
}
@media (min-width: 768px) {
  .logo {
    padding-top: 7.3rem;
  }
}

.crypto-tools textarea {
  color: var(--main-color);
  font-size: 3.2rem;
  width: 343px;
  min-height: 250px;
  max-height: 624px;
  resize: none;
  border: none;
  overflow: hidden;
  outline: none;
  margin-top: 56px;
  field-sizing: content;
  background-color: var(--bg-color);
}
@media (min-width: 768px) {
  .crypto-tools textarea {
    width: 688px;
    min-height: 548px;
  }
}

.crypto-tools textarea::placeholder {
  color: var(--main-color);
}

.container__warning {
  display: flex;
  align-items: center;

}

.icon-warning {
  margin-right: 8px;
}

.warning {
  font-size: 1.2rem;
  color: var(--warning-color);
  line-height: 1.5;

}

.container__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  row-gap: 2.4rem;
}
@media (min-width: 768px) {
  .container__buttons {
    flex-direction: row;
    justify-content: center;
  }
}

.btn {
  padding: 2.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 24px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .btn {
    width: 332px;
    
  }
}

.btn-encrypt {
  color: var(--text-btnEncrypt-color);
  border: 2px solid var(--btn-borderColor);
  background: var(--main-color);
}
@media (min-width: 768px) {
  .btn-encrypt {
    margin-right: 2.4rem;
    
  }
}

.btn-encrypt:hover {
  background: #4683b4e3;
}

.btn-decrypt {
  color: var(--text-btnDecrypt-color);
  border: 2px solid var(--btn-borderColor);
  background: transparent;
}

.btn-decrypt:hover {
  background: #f3f1f1f3;

}

/*
=============== 
 Section display-text-decrypt
===============
*/
.display-text-decrypt {
  margin-left: auto;
  margin-right: auto;
  width: 327px;
  min-height: 186px;
  background-color: #fff;
  padding: 3.2rem;
  margin-bottom: 4rem;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 24px 32px -8px
}
@media (min-width: 768px) {
  .display-text-decrypt {
    width: 688px;
    min-height: 133px;
  }
}

.display-text-decrypt h3 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
  white-space: normal;
}

.display-text-decrypt p {
  text-align: center;
}