@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
=============== 
  custom properties
===============
*/
:root {
  --main-color: #4682b4;
  --bg-color: #F3F5FC;
  --warning-color: #495057;

  --text-btnEncrypt-color: #fff;
  --text-btnDecrypt-color: #4682b4;

  --btn-borderColor: #4682b4;
}

/*
=============== 
  CSS RESET
===============
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: var(--bg-color);
}

button,
textarea {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  :before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/*
=============== 
 Header
===============
*/
.header {
  padding: 2.4rem 0 2.4rem 1.6rem;
}
@media (min-width: 735px){
  .header {
    padding: 7.3rem 0 0 4rem;
  }
}
@media (min-width: 1280px){
  .header {
    padding: 4.3rem 0 0 8.4rem;
  }
}

/*
=============== 
 Main
===============
*/
.container {
  width: min(90%, 128rem);
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .main {
    flex-direction: row;
    margin-bottom: 4rem;
  }
}

/*
=============== 
 Section crypto-tools 
===============
*/
@media (min-width: 1280px) {
  .crypto-tools {
    margin-left: 144px;
  }
}
.container__textarea {
  margin-top: 5.6rem;
}
@media (min-width: 735px) {
  .container__textarea {
    margin-top: 7.8rem;
  }
}

.container__textarea textarea {
  color: var(--main-color);
  font-size: 3.2rem;
  width: 343px;
  min-height: 251px;
  max-height: 624px;
  resize: none;
  border: none;
  overflow: hidden;
  outline: none;
  
  field-sizing: content;
  background-color: var(--bg-color);
}
.container__textarea textarea::placeholder {
  color: var(--main-color);
}
@media (min-width: 735px) {
  .container__textarea textarea {
    width: 688px;
    min-height: 548px;
  }
}
@media (min-width: 1024px) {
  .container__textarea textarea {
    width: 400px;
    /* min-height: 548px; */
  }
}
@media (min-width: 1280px) {
  .container__textarea textarea {
    width: 577px;
    /* min-height: 548px; */
  }
}

.container__warning {
  display: flex;
  align-items: center;
  margin-top: 5.3rem;
}

.icon-warning {
  margin-right: 8px;
}

.warning {
  font-size: 1.2rem;
  color: var(--warning-color);
  line-height: 1.5;
}

.container__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  row-gap: 2.4rem;
}
@media (min-width: 735px) {
  .container__buttons {
    flex-direction: row;
    justify-content: center;
  }
}

.btn {
  padding: 2.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 24px;
  text-transform: uppercase;
}
@media (min-width: 735px) {
  .btn {
    width: 332px;
  }
}
@media (min-width: 1024px) {
  .btn {
    width: 232px;
  }
}
@media (min-width: 1280px) {
  .btn {
    width: 277px;
  }
}

.btn-encrypt {
  color: var(--text-btnEncrypt-color);
  border: 2px solid var(--btn-borderColor);
  background: var(--main-color);
}
.btn-encrypt:hover {
  background: #4683b4e3;
}
@media (min-width: 735px) {
  .btn-encrypt {
    margin-right: 2.4rem;
  }
}

.btn-decrypt {
  color: var(--text-btnDecrypt-color);
  border: 2px solid var(--btn-borderColor);
  background: transparent;
}
.btn-decrypt:hover {
  background: #efefef;
} 

/*
=============== 
 Section display-text-decrypt
===============
*/
.display-text-decrypt {
  margin-left: auto;
  margin-right: auto;
  width: 327px;
  min-height: 186px;
  background-color: #fff;
  padding: 3.2rem;
  margin-top: 6.4rem;
  margin-bottom: 4rem;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 24px 32px -8px;
  word-wrap: break-word;
}
@media (min-width: 667px) {
  .display-text-decrypt {
    width: auto;
    min-height: 133px;
  }
}
@media (min-width: 735px) {
  .display-text-decrypt {
    width: 688px;
    min-height: 133px;
  }
}
@media (min-width: 1024px) {
  .display-text-decrypt {
    width: 350px;
    min-height: 758px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  .display-text-decrypt {
    width: 400px;
    min-height: 756px;
  }
}

.container-message img {
  display: none;
}
@media (min-width: 1024px) {
  .container-message img {
    display: block;
  }
}

.container-message h3 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
  white-space: normal;
}

.container-message p {
  text-align: center;
}

.container-textDecrypt {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 3.2rem;
}

.btn-copy {
  color: var(--text-btnDecrypt-color);
  border: 2px solid var(--btn-borderColor);
  width: auto;
  background-color: #efefef;
}
.btn-copy:hover {
  background-color: transparent;
}
@media (min-width: 1280px) {
  .btn-copy {
    width: 277px;
    margin-left: auto;
    margin-right: auto;
  }
}