
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
=============== 
  custom properties
===============
*/
:root {
  --main-color: #4682b4;
  --warning-color: #495057;

  --text-btnEncrypt-color: #fff;
  --text-btnDecrypt-color: #4682b4;

  --btn-borderColor: #4682b4;
}

/*
=============== 
  CSS RESET
===============
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

button,
textarea {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

  *,
  :before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/*
=============== 
 Main
===============
*/
.container {
  width: min(92%, 144rem);
  margin: 0 auto;
}


/*
=============== 
 Section crypto-tools 
===============
*/
.logo {
  padding: 2.4rem 0 2.4rem 0;
}

.crypto-tools textarea {
  color: var(--main-color);
  font-size: 3.2rem;
  width: 343px;
  
  height: 250px;
  resize: none;
  border: none; /* Elimina el borde */
  overflow: hidden; /* Oculta la barra de desplazamiento */
  outline: none;
  margin-top: 56px;
  /* overflow-wrap: break-word; */
  /* field-sizing: content; */

}
.crypto-tools textarea::placeholder {
  color: var(--main-color);
}

.container__warning {
  display: flex;
  align-items: center;
 
}

.icon-warning {
  margin-right: 8px;
}

.warning {
  font-size: 1.2rem;
  color: var(--warning-color);
  line-height: 1.5;
  
}

.container__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  row-gap: 2.4rem;
}

.btn {
  width: 100%;
  display: block;
  cursor: pointer;
  border-color: #4682b4;
  border-width: 3px;
  text-transform: uppercase;
  padding: 2.4rem;
}

.btn-encrypt {
  color: var(--text-btnEncrypt-color);
  background-color: var(--main-color);
  
  

}
.btn-encrypt:hover {
  /* color: var(--text-btnDecrypt-color);
  background-color: transparent; */
}


.btn-decrypt {
  color: var(--text-btnDecrypt-color);
  background-color: transparent;
  border-color: #4682b4;
}
.btn-decrypt:hover {
  /* color: var(--text-btnEncrypt-color);
  background-color: var(--main-color); */
}


